@charset "utf-8";
/* CSS Document */


.image-slider {
	list-style: none;
	display: inline-block;
	position: relative;
	margin-left: 750px;
	margin-top: 50px;
	height: 213px;
	width: 165px;	
}

.image-slider:hover figure{
	-webkit-animation-play-state: paused;
	text-decoration: none;
}


.image-slider figure {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: gecisler 10s ease both infinite;
}


.image-slider > figure > figcaption{
	visibility: hidden;
	color: #F00;
	text-align: center;
}
.image-slider > figure:hover figcaption{
	visibility:visible}


figure figcaption a {
	color: #F00;
	text-decoration: none;
}


.image-slider figure:nth-child(1) {
	-webkit-animation-delay: 2s;
}
.image-slider figure:nth-child(2) {
	-webkit-animation-delay: 4s;
}
.image-slider figure:nth-child(3) {
	-webkit-animation-delay: 6s;
}
.image-slider figure:nth-child(4) {
	-webkit-animation-delay: 8s;
}
.image-slider figure:nth-child(5) {
	-webkit-animation-delay: 10s;
}
 
.image-slider > figure > img {
  border-radius: 50%;
  border: 2px solid red;
}


@-webkit-keyframes gecisler {
  0%, 10% {
    opacity: 1;
    transform: none;
    z-index: 10;
  }
  25%, 35% {
    opacity: 0.2;
    transform: translate3d(-170px, 0, 0) scale(0.6);
  }
  50% {
    opacity: 0;
    transform: translate3d(-190px, 0, 0) scale(0.6);
  }
  60% {
    opacity: 0;
    transform: translate3d(190px, 0, 0) scale(0.6);
  }
  75%, 85% {
    opacity: 0.2;
    transform: translate3d(170px, 0, 0) scale(0.6);
  }
}
