.sayfa {width:1000px; height: auto; margin:auto; margin-top:20px;}
.icerika {width:700px; height: auto; background-color:#ffffff;  float: left; }
.icerikb {width: 280px; height: auto;  margin-left: 20px; float: left;}
.anabaslik {width:90%; height: 45px; background-color: #36648b; margin-left: auto; margin-right: auto; color: #ffffff; font-size: 30px; border-radius: 8px; margin-top:20px; text-align: center; padding-top:7px; font-family: Arial, Helvetica, sans-serif;}

.anaresim {width:670px; height: 400px; margin:auto; margin-top:20px;}
.anaresim img {width:100%; height:100%;}
.baslangicyazisi {width:90%; height: auto; font-size: 22px; margin-top: 20px; margin-left: auto; margin-right: auto;}
.madde {width: 90%; height: auto; font-size: 30px; margin-top:30px; margin-left: auto; margin-right: auto; color: #36648b;}
.maddeyazi {width: 90%; height: auto; font-size: 22px; margin-top:10px; margin-left: auto; margin-right: auto; }
.reklam {width:680px; height: 100px; margin-left: auto; margin-right: auto; margin-top: 20px;   ;}
.reklam img {width:100%; height: 100%;}
.buyukreklam {width:680px; height: 300px; margin-right: auto; margin-left: auto; margin-top:20px;}
.buyukreklam img {width: 100%; height: 100%;}
.byazi {font-size: 18px; height: auto; width: 100%; margin-top: 10px; text-align: center; color: #36648b; background-color: #ffffff;}
.sagicerikresim {width:280px; height:150px; margin-top: 10px; margin-left: auto; margin-right: auto;}
.sagicerikresim img {width:100%; height: 100%;}
.sagicerikyazi {font-size:22px; text-align: center; height: auto; width: 95%; background-color: #ffffff;  margin-right: auto; margin-left: auto; width: 100%; margin-top: 5px; }
.footer {width:100%; height: 100px; background-color: #4682b4; float: left; text-align: center; padding-top:40px; font-size: 20px; text-decoration: none; color: black;}
@media only screen and (min-width:768px)and (max-width:1023px) 
{
.sayfa {width:700px; height:1000px; margin:auto; margin-top: 20px; }
.icerika {width:700px; height: 3050px; background-color:#ffffff;  float: left; }
.icerikb {width: 210px; height: 1050px;  margin-left: 20px; float: left; display: none; }
.anabaslik {width:90%; height: 45px; background-color: #36648b; margin-left: auto; margin-right: auto; color: #ffffff; font-size: 30px; border-radius: 8px; margin-top:20px; text-align: center; padding-top:7px; font-family: Arial, Helvetica, sans-serif;}

.anaresim {width:670px; height: 400px; margin:auto; margin-top:20px;}
.anaresim img {width:100%; height:100%;}
.baslangicyazisi {width:90%; height: auto; font-size: 22px; margin-top: 20px; margin-left: auto; margin-right: auto;}
.madde {width: 90%; height: auto; font-size: 30px; margin-top:30px; margin-left: auto; margin-right: auto; color: #36648b;}
.maddeyazi {width: 90%; height: auto; font-size: 22px; margin-top:10px; margin-left: auto; margin-right: auto; }
.reklam {width:680px; height: 100px; margin-left: auto; margin-right: auto; margin-top: 20px;   ;}
.reklam img {width:100%; height: 100%;}
.buyukreklam {width:680px; height: 300px; margin-right: auto; margin-left: auto; margin-top:20px;}
.buyukreklam img {width: 100%; height: 100%;}
.byazi {font-size: 18px; height: auto; width: 100%; margin-top: 10px; text-align: center; color: #36648b; background-color: #ffffff;}
.sagicerikresim {width:280px; height:150px; margin-top: 10px; margin-left: auto; margin-right: auto;}
.sagicerikresim img {width:100%; height: 100%;}
.sagicerikyazi {font-size:22px; text-align: center; height: auto; width: 95%; background-color: #ffffff;  margin-right: auto; margin-left: auto; width: 100%; margin-top: 5px; }
}

@media only screen and (min-width:320px) and (max-width:767px)
{
    .sayfa {width:100%; height:auto; margin-left:5%; margin-top: 20px; }
    .icerika {width: 90%; height:auto; background-color:#ffffff;  float: left; }
    .icerikb {width: 10%; height: 1050px;  margin-left: 20px; float: left; display: none; }
    .anabaslik {width:90%; height: auto; background-color: #36648b; margin-left: auto; margin-right: auto; color: #ffffff; font-size: 30px; border-radius: 8px; margin-top:20px; text-align: center; padding-top:7px; font-family: Arial, Helvetica, sans-serif;}
    .anaresim {width:90%; height: 10%; margin:auto; margin-top:20px;}
    .anaresim img {width:100%; height:100%;}
    .baslangicyazisi {width:90%; height: auto; font-size: 22px; margin-top: 20px; margin-left: auto; margin-right: auto;}
    .madde {width: 90%; height: auto; font-size: 27px; margin-top:30px; margin-left: auto; margin-right: auto; color: #36648b;}
    .maddeyazi {width: 90%; height: auto; font-size: 19px; margin-top:10px; margin-left: auto; margin-right: auto; }
    .reklam {width:90%; height: 100px; margin-left: auto; margin-right: auto; margin-top: 20px;   }
    .reklam img {width:100%; height: 100%;}
    .buyukreklam {width:90%; height: 300px; margin-right: auto; margin-left: auto; margin-top:20px;}
    .buyukreklam img {width: 100%; height: 100%;}
    .byazi {font-size: 18px; height: auto; width: 100%; margin-top: 10px; text-align: center; color: #36648b; background-color: #ffffff; display: none;}
    .sagicerikresim {width:280px; height:150px; margin-top: 10px; margin-left: auto; margin-right: auto; display: none;}
    .sagicerikresim img {width:100%; height: 100%; display: none;}
    .sagicerikyazi {font-size:22px; text-align: center; height: auto; width: 95%; background-color: #ffffff;  margin-right: auto; margin-left: auto; width: 100%; margin-top: 5px; display: none;}
    .footer {width:100%; height: 100px; background-color: #4682b4; float: left; text-align: center; padding-top:40px; font-size: 20px; text-decoration: none; color: black;}
}